// BACKEND

backend/node_modules

// secret token
backend/src/config/auth.js

// database connection
backend/src/config/database.js

// images in uploads
backend/tmp/uploads/*

// yarn
backend/yarn.lock
backend/yarn-error.log

// nodemailer
backend/src/config/mail.js
